### data retrieving:

In [1]:
import yfinance as yf
import pandas as pd
import numpy as np

In [2]:
# Function to get historical data for a ticker
start = '2023-01-01'
end = '2024-01-01'  # This can be None if you want data up to the current date

def get_ticker_data(tickerSymbol, start, end=None, interval='1d'):
    tickerData = yf.Ticker(tickerSymbol)
    # Fetch historical data within the specified date range
    df = tickerData.history(start=start, end=end, interval=interval, auto_adjust=False)
    #df['RSI'] = calculate_rsi(df)
    df['Date'] = pd.to_datetime(df.index)
    df['Month'] = df['Date'].dt.month
    df['Year'] = df['Date'].dt.year
    #df['EOM'] = df['Date'] == df.groupby(['Year', 'Month'])['Date'].transform('max')
    # No change to the data processing code that follows

    return df

### data reading:

In [3]:
import os
import re

directory = 'data'

data = dict()

for file in os.listdir(directory):
    symbol_pattern = re.match(r'([^_]+)_', file)
    symbol = symbol_pattern.group(1)
    data[symbol] = pd.read_csv(os.path.join(directory, file))
    data[symbol].rename(columns={'Date': 'date', 'Open':'open', 'High':'high', 'Low':'low', 'Close':'close', 'Volume':'volume'}, inplace=True)

In [4]:
data

{'VRTX':                            date        open        high         low  \
 0     2004-01-02 00:00:00-05:00   10.350000   10.750000   10.230000
 1     2004-01-05 00:00:00-05:00   10.550000   10.680000   10.100000
 2     2004-01-06 00:00:00-05:00   10.090000   10.360000   10.040000
 3     2004-01-07 00:00:00-05:00   10.130000   10.430000    9.900000
 4     2004-01-08 00:00:00-05:00   10.400000   10.560000   10.290000
 ...                         ...         ...         ...         ...
 5028  2023-12-22 00:00:00-05:00  403.589996  406.910004  402.350006
 5029  2023-12-26 00:00:00-05:00  406.970001  408.519989  404.480011
 5030  2023-12-27 00:00:00-05:00  408.649994  409.000000  405.589996
 5031  2023-12-28 00:00:00-05:00  411.260010  412.570007  409.000000
 5032  2023-12-29 00:00:00-05:00  409.000000  409.619995  406.070007

            close  volume
 0      10.500000  544900
 1      10.120000  910300
 2      10.080000  618700
 3      10.400000  739200
 4      10.480000  388900
 ...          ...     ...
 5028  405.250000  804200
 5029  407.660004  531600
 5030  408.049988  594000
 5031  409.269989  735600
 5032  406.890015  727400

 [5033 rows x 6 columns],
 'MDLZ':                            date       open       high        low      close  \
 0     2004-01-02 00:00:00-05:00  32.200001  32.580002  32.009998  32.080002
 1     2004-01-05 00:00:00-05:00  32.279999  32.389999  31.830000  32.160000
 2     2004-01-06 00:00:00-05:00  32.110001  32.520000  32.099998  32.490002
 3     2004-01-07 00:00:00-05:00  32.490002  32.580002  32.119999  32.279999
 4     2004-01-08 00:00:00-05:00  32.230000  32.630001  32.209999  32.299999
 ...                         ...        ...        ...        ...        ...
 5028  2023-12-22 00:00:00-05:00  70.830002  71.570000  70.750000  71.209999
 5029  2023-12-26 00:00:00-05:00  71.199997  71.900002  71.000000  71.709999
 5030  2023-12-27 00:00:00-05:00  71.769997  72.260002  71.540001  72.209999
 5031  2023-12-28 00:00:00-05:00  71.779999  72.349998  71.690002  72.260002
 5032  2023-12-29 00:00:00-05:00  72.139999  72.650002  72.110001  72.430000

        volume
 0      841800
 1     1192300
 2     1690500
 3     1334200
 4     1746300
 ...       ...
 5028  4109000
 5029  4002900
 5030  4061500
 5031  4095300
 5032  4658600

 [5033 rows x 6 columns],
 'TMO':                            date        open        high         low  \
 0     2004-01-02 00:00:00-05:00   25.200001   25.230000   24.940001
 1     2004-01-05 00:00:00-05:00   25.100000   25.299999   25.000000
 2     2004-01-06 00:00:00-05:00   25.100000   25.389999   24.980000
 3     2004-01-07 00:00:00-05:00   25.299999   25.610001   25.200001
 4     2004-01-08 00:00:00-05:00   25.610001   26.129999   25.610001
 ...                         ...         ...         ...         ...
 5028  2023-12-22 00:00:00-05:00  528.090027  532.919983  526.900024
 5029  2023-12-26 00:00:00-05:00  526.880005  531.239990  525.780029
 5030  2023-12-27 00:00:00-05:00  530.809998  533.070007  529.289978
 5031  2023-12-28 00:00:00-05:00  533.000000  536.000000  531.500000
 5032  2023-12-29 00:00:00-05:00  531.210022  533.969971  529.520020

            close   volume
 0      25.030001   541500
 1      25.150000   529300
 2      25.370001   860400
 3      25.610001   507800
 4      26.129999   623700
 ...          ...      ...
 5028  529.049988  1081500
 5029  529.700012   639100
 5030  531.650024   806000
 5031  532.940002   763400
 5032  530.789978   804300

 [5033 rows x 6 columns],
 'UNH':                            date        open        high         low  \
 0     2004-01-02 00:00:00-05:00   29.525000   29.660000   29.209999
 1     2004-01-05 00:00:00-05:00   28.500000   29.375000   27.725000
 2     2004-01-06 00:00:00-05:00   28.125000   28.594999   28.080000
 3     2004-01-07 00:00:00-05:00   28.650000   28.665001   28.200001
 4     2004-01-08 00:00:00-05:00   28.655001   28.975000   28.655001
 ...                         ...         ...         ...         ...
 5028  2023-12-22 00:00:00-05:00  519.880005  523.010010  518.020020
 5029  2023-12-26 00:00:00-05:00  519.880005  521.479980  517.969971
 5030  2023-12-27 00:00:00-05:00  519.750000  523.159973  519.359985
 5031  2023-12-28 00:00:00-05:00  523.469971  527.869995  522.940002
 5032  2023-12-29 00:00:00-05:00  525.979980  528.239990  523.919983

            close    volume
 0      29.520000   6243600
 1      28.100000  16714000
 2      28.389999   8181800
 3      28.655001   5916400
 4      28.715000   5619200
 ...          ...       ...
 5028  520.309998   1759500
 5029  520.030029   1390800
 5030  522.789978   1851800
 5031  524.900024   2001000
 5032  526.469971   2080100

 [5033 rows x 6 columns],
 'TJX':                            date       open       high        low      close  \
 0     2004-01-02 00:00:00-05:00   5.495000   5.542500   5.382500   5.402500
 1     2004-01-05 00:00:00-05:00   5.405000   5.495000   5.400000   5.492500
 2     2004-01-06 00:00:00-05:00   5.437500   5.530000   5.437500   5.520000
 3     2004-01-07 00:00:00-05:00   5.500000   5.520000   5.372500   5.395000
 4     2004-01-08 00:00:00-05:00   5.562500   5.637500   5.500000   5.540000
 ...                         ...        ...        ...        ...        ...
 5028  2023-12-22 00:00:00-05:00  91.570000  91.970001  91.300003  91.849998
 5029  2023-12-26 00:00:00-05:00  91.919998  92.870003  91.830002  92.790001
 5030  2023-12-27 00:00:00-05:00  92.769997  93.150002  92.370003  92.769997
 5031  2023-12-28 00:00:00-05:00  92.980003  93.680000  92.690002  93.239998
 5032  2023-12-29 00:00:00-05:00  93.589996  94.290001  93.379997  93.809998

         volume
 0      6231200
 1     10609600
 2     11677600
 3     20651200
 4     17621200
 ...        ...
 5028   3463200
 5029   3275600
 5030   3525300
 5031   3249100
 5032   5342500

 [5033 rows x 6 columns],
 'AAPL':                            date        open        high         low  \
 0     2004-01-02 00:00:00-05:00    0.384821    0.388393    0.378214
 1     2004-01-05 00:00:00-05:00    0.382500    0.399821    0.382500
 2     2004-01-06 00:00:00-05:00    0.397321    0.400357    0.387679
 3     2004-01-07 00:00:00-05:00    0.394643    0.407679    0.391607
 4     2004-01-08 00:00:00-05:00    0.407857    0.423750    0.404464
 ...                         ...         ...         ...         ...
 5028  2023-12-22 00:00:00-05:00  195.179993  195.410004  192.970001
 5029  2023-12-26 00:00:00-05:00  193.610001  193.889999  192.830002
 5030  2023-12-27 00:00:00-05:00  192.490005  193.500000  191.089996
 5031  2023-12-28 00:00:00-05:00  194.139999  194.660004  193.169998
 5032  2023-12-29 00:00:00-05:00  193.899994  194.399994  191.729996

            close     volume
 0       0.380000  144642400
 1       0.395893  395018400
 2       0.394464  509348000
 3       0.403393  586874400
 4       0.417143  460303200
 ...          ...        ...
 5028  193.600006   37122800
 5029  193.050003   28919300
 5030  193.149994   48087700
 5031  193.580002   34049900
 5032  192.529999   42628800

 [5033 rows x 6 columns],
 'BKNG':                            date         open         high          low  \
 0     2004-01-02 00:00:00-05:00    18.049999    18.799999    18.049999
 1     2004-01-05 00:00:00-05:00    18.950001    19.629999    18.760000
 2     2004-01-06 00:00:00-05:00    19.010000    19.209999    18.700001
 3     2004-01-07 00:00:00-05:00    18.750000    18.889999    18.110001
 4     2004-01-08 00:00:00-05:00    18.799999    18.910000    18.450001
 ...                         ...          ...          ...          ...
 5028  2023-12-22 00:00:00-05:00  3520.000000  3564.459961  3520.000000
 5029  2023-12-26 00:00:00-05:00  3527.469971  3574.310059  3525.290039
 5030  2023-12-27 00:00:00-05:00  3580.620117  3580.620117  3529.199951
 5031  2023-12-28 00:00:00-05:00  3556.080078  3562.689941  3540.179932
 5032  2023-12-29 00:00:00-05:00  3557.179932  3574.909912  3530.229980

             close   volume
 0       18.780001  1273900
 1       19.629999   987300
 2       18.799999  1755600
 3       18.680000  1227800
 4       18.660000   854300
 ...           ...      ...
 5028  3535.699951   254900
 5029  3566.649902   197700
 5030  3534.639893   169000
 5031  3550.469971   139700
 5032  3547.219971   164500

 [5033 rows x 6 columns],
 'V':                            date        open        high         low  \
 0     2008-03-19 00:00:00-04:00   14.875000   17.250000   13.750000
 1     2008-03-20 00:00:00-04:00   14.600000   16.250000   14.375000
 2     2008-03-24 00:00:00-04:00   16.809999   16.924999   14.750000
 3     2008-03-25 00:00:00-04:00   15.145000   16.062500   14.955000
 4     2008-03-26 00:00:00-04:00   15.682500   16.120001   15.392500
 ...                         ...         ...         ...         ...
 3969  2023-12-22 00:00:00-05:00  260.000000  261.209991  258.220001
 3970  2023-12-26 00:00:00-05:00  258.529999  259.739990  258.529999
 3971  2023-12-27 00:00:00-05:00  259.250000  259.769989  258.309998
 3972  2023-12-28 00:00:00-05:00  258.540009  260.970001  258.540009
 3973  2023-12-29 00:00:00-05:00  260.570007  261.459991  259.670013

            close     volume
 0      14.125000  708486000
 1      16.087500  198985200
 2      14.932500  149566400
 3      15.812500   87092000
 4      15.990000   43111600
 ...          ...        ...
 3969  258.429993    5111500
 3970  259.160004    2085100
 3971  258.929993    4034700
 3972  260.399994    3020500
 3973  260.350006    4074600

 [3974 rows x 6 columns],
 'LOW':                            date        open        high         low  \
 0     2004-01-02 00:00:00-05:00   27.924999   28.125000   26.889999
 1     2004-01-05 00:00:00-05:00   26.950001   26.990000   26.700001
 2     2004-01-06 00:00:00-05:00   26.770000   27.719999   26.760000
 3     2004-01-07 00:00:00-05:00   27.525000   27.795000   27.080000
 4     2004-01-08 00:00:00-05:00   27.575001   27.655001   26.809999
 ...                         ...         ...         ...         ...
 5028  2023-12-22 00:00:00-05:00  224.039993  225.080002  221.990005
 5029  2023-12-26 00:00:00-05:00  222.899994  223.699997  222.630005
 5030  2023-12-27 00:00:00-05:00  222.520004  223.360001  221.720001
 5031  2023-12-28 00:00:00-05:00  223.410004  223.419998  221.970001
 5032  2023-12-29 00:00:00-05:00  222.940002  223.979996  220.940002

            close    volume
 0      26.950001   6534400
 1      26.885000   7070000
 2      27.650000   8403200
 3      27.650000   5742200
 4      26.930000  11276800
 ...          ...       ...
 5028  223.000000   2368800
 5029  222.820007   1656400
 5030  222.889999   1449300
 5031  222.899994   1543400
 5032  222.550003   2631400

 [5033 rows x 6 columns],
 'PM':                            date       open       high        low      close  \
 0     2008-03-17 00:00:00-04:00  50.000000  52.650002  49.240002  49.389999
 1     2008-03-18 00:00:00-04:00  49.849998  52.000000  47.750000  49.599998
 2     2008-03-19 00:00:00-04:00  49.599998  51.000000  46.900002  50.099998
 3     2008-03-20 00:00:00-04:00  50.200001  50.200001  48.869999  49.150002
 4     2008-03-24 00:00:00-04:00  49.810001  51.000000  49.810001  51.000000
 ...                         ...        ...        ...        ...        ...
 3971  2023-12-22 00:00:00-05:00  92.989998  93.800003  92.690002  92.940002
 3972  2023-12-26 00:00:00-05:00  92.750000  93.660004  92.599998  93.250000
 3973  2023-12-27 00:00:00-05:00  93.190002  93.940002  93.190002  93.779999
 3974  2023-12-28 00:00:00-05:00  93.550003  94.379997  93.449997  94.080002
 3975  2023-12-29 00:00:00-05:00  94.080002  94.320000  93.730003  94.080002

        volume
 0     1988000
 1     8067600
 2     3007700
 3     3007700
 4     1437000
 ...       ...
 3971  2578700
 3972  2608400
 3973  3717200
 3974  3425800
 3975  3709200

 [3976 rows x 6 columns],
 'CMCSA':                            date       open       high        low      close  \
 0     2004-01-02 00:00:00-05:00  10.970000  11.140000  10.880000  10.986667
 1     2004-01-05 00:00:00-05:00  11.033333  11.133333  10.900000  11.086667
 2     2004-01-06 00:00:00-05:00  10.913333  11.163333  10.900000  11.100000
 3     2004-01-07 00:00:00-05:00  11.066667  11.430000  11.006667  11.396667
 4     2004-01-08 00:00:00-05:00  11.376667  11.663333  11.300000  11.663333
 ...                         ...        ...        ...        ...        ...
 5028  2023-12-22 00:00:00-05:00  44.130001  44.619999  43.810001  44.000000
 5029  2023-12-26 00:00:00-05:00  44.000000  44.070000  43.500000  43.930000
 5030  2023-12-27 00:00:00-05:00  43.900002  44.169998  43.709999  43.990002
 5031  2023-12-28 00:00:00-05:00  43.970001  44.410000  43.889999  44.119999
 5032  2023-12-29 00:00:00-05:00  44.090000  44.139999  43.560001  43.849998

         volume
 0     17215800
 1     22867800
 2     20053500
 3     24715800
 4     23189400
 ...        ...
 5028  11893900
 5029   9624300
 5030   9253800
 5031   9023400
 5032  13694900

 [5033 rows x 6 columns],
 'HD':                            date        open        high         low  \
 0     2004-01-02 00:00:00-05:00   35.750000   35.939999   34.810001
 1     2004-01-05 00:00:00-05:00   35.070000   35.250000   34.810001
 2     2004-01-06 00:00:00-05:00   35.090000   35.549999   34.840000
 3     2004-01-07 00:00:00-05:00   35.439999   36.090000   35.360001
 4     2004-01-08 00:00:00-05:00   35.889999   35.980000   35.169998
 ...                         ...         ...         ...         ...
 5028  2023-12-22 00:00:00-05:00  349.040009  351.339996  346.690002
 5029  2023-12-26 00:00:00-05:00  348.429993  350.089996  348.160004
 5030  2023-12-27 00:00:00-05:00  349.910004  350.000000  347.179993
 5031  2023-12-28 00:00:00-05:00  348.500000  349.040009  345.799988
 5032  2023-12-29 00:00:00-05:00  345.829987  347.549988  343.019989

            close    volume
 0      35.020000   7177600
 1      35.029999  11405100
 2      35.410000   8845200
 3      35.900002   9236900
 4      35.599998  10918400
 ...          ...       ...
 5028  348.589996   2029900
 5029  349.309998   1585500
 5030  348.529999   2764300
 5031  347.359985   2859400
 5032  346.549988  10325700

 [5033 rows x 6 columns],
 'GOOG':                            date        open        high         low  \
 0     2004-08-19 00:00:00-04:00    2.490664    2.591785    2.390042
 1     2004-08-20 00:00:00-04:00    2.515820    2.716817    2.503118
 2     2004-08-23 00:00:00-04:00    2.758411    2.826406    2.716070
 3     2004-08-24 00:00:00-04:00    2.770615    2.779581    2.579581
 4     2004-08-25 00:00:00-04:00    2.614201    2.689918    2.587302
 ...                         ...         ...         ...         ...
 4870  2023-12-22 00:00:00-05:00  142.130005  143.250000  142.054993
 4871  2023-12-26 00:00:00-05:00  142.979996  143.945007  142.500000
 4872  2023-12-27 00:00:00-05:00  142.830002  143.320007  141.050995
 4873  2023-12-28 00:00:00-05:00  141.850006  142.270004  140.828003
 4874  2023-12-29 00:00:00-05:00  140.679993  141.434998  139.899994

            close     volume
 0       2.499133  897427216
 1       2.697639  458857488
 2       2.724787  366857939
 3       2.611960  306396159
 4       2.640104  184645512
 ...          ...        ...
 4870  142.720001   18494700
 4871  142.820007   11170100
 4872  141.440002   17288400
 4873  141.279999   12192500
 4874  140.929993   14872700

 [4875 rows x 6 columns],
 'AXP':                            date        open        high         low  \
 0     2004-01-02 00:00:00-05:00   42.390778   42.495815   41.778069
 1     2004-01-05 00:00:00-05:00   42.084423   42.303249   41.856846
 2     2004-01-06 00:00:00-05:00   41.970634   42.303249   41.953129
 3     2004-01-07 00:00:00-05:00   42.399532   42.399532   42.084423
 4     2004-01-08 00:00:00-05:00   42.434544   42.653370   41.839340
 ...                         ...         ...         ...         ...
 5028  2023-12-22 00:00:00-05:00  185.639999  186.369995  184.630005
 5029  2023-12-26 00:00:00-05:00  185.960007  186.179993  185.130005
 5030  2023-12-27 00:00:00-05:00  186.139999  187.130005  185.619995
 5031  2023-12-28 00:00:00-05:00  187.119995  188.070007  187.000000
 5032  2023-12-29 00:00:00-05:00  187.750000  188.300003  186.529999

            close   volume
 0      41.795574  3041586
 1      42.163200  4229407
 2      42.233227  4138924
 3      42.355766  4480635
 4      42.233227  6395407
 ...          ...      ...
 5028  185.570007  2781600
 5029  185.960007  1230000
 5030  187.059998  1825400
 5031  187.800003  1486100
 5032  187.339996  1913800

 [5033 rows x 6 columns],
 'NVDA':                            date        open        high         low  \
 0     2004-01-02 00:00:00-05:00    1.964167    1.990833    1.923333
 1     2004-01-05 00:00:00-05:00    1.952500    1.999167    1.935000
 2     2004-01-06 00:00:00-05:00    1.980000    2.094167    1.970833
 3     2004-01-07 00:00:00-05:00    2.043333    2.095000    2.029167
 4     2004-01-08 00:00:00-05:00    2.110833    2.120833    2.072500
 ...                         ...         ...         ...         ...
 5028  2023-12-22 00:00:00-05:00  491.950012  493.829987  484.670013
 5029  2023-12-26 00:00:00-05:00  489.679993  496.000000  489.600006
 5030  2023-12-27 00:00:00-05:00  495.109985  496.799988  490.850006
 5031  2023-12-28 00:00:00-05:00  496.429993  498.839996  494.119995
 5032  2023-12-29 00:00:00-05:00  498.130005  499.970001  487.510010

            close     volume
 0       1.923333   43641600
 1       1.985833   57529200
 2       2.066667  109334400
 3       2.085000   67303200
 4       2.092500   43375200
 ...          ...        ...
 5028  488.299988   25213900
 5029  492.790009   24420000
 5030  494.170013   23364800
 5031  495.220001   24658700
 5032  495.220001   38869000

 [5033 rows x 6 columns],
 'SBUX':                            date       open       high        low      close  \
 0     2004-01-02 00:00:00-05:00   8.362500   8.410000   8.225000   8.227500
 1     2004-01-05 00:00:00-05:00   8.262500   8.372500   8.232500   8.352500
 2     2004-01-06 00:00:00-05:00   8.605000   8.625000   8.412500   8.455000
 3     2004-01-07 00:00:00-05:00   8.415000   8.500000   8.345000   8.420000
 4     2004-01-08 00:00:00-05:00   8.257500   8.397500   8.250000   8.345000
 ...                         ...        ...        ...        ...        ...
 5028  2023-12-22 00:00:00-05:00  94.889999  95.830002  94.339996  95.279999
 5029  2023-12-26 00:00:00-05:00  95.339996  95.690002  94.959999  95.669998
 5030  2023-12-27 00:00:00-05:00  95.690002  95.779999  94.790001  95.290001
 5031  2023-12-28 00:00:00-05:00  95.500000  95.970001  95.110001  95.930000
 5032  2023-12-29 00:00:00-05:00  95.879997  96.349998  95.349998  96.010002

         volume
 0     13181200
 1     13903600
 2     19274000
 3      9690400
 4     13144000
 ...        ...
 5028   6360400
 5029   3709500
 5030   4959300
 5031   4518300
 5032   6134000

 [5033 rows x 6 columns],
 'PG':                            date        open        high         low  \
 0     2004-01-02 00:00:00-05:00   49.825001   50.000000   49.439999
 1     2004-01-05 00:00:00-05:00   49.494999   49.825001   49.404999
 2     2004-01-06 00:00:00-05:00   49.410000   49.570000   49.340000
 3     2004-01-07 00:00:00-05:00   49.250000   49.334999   48.889999
 4     2004-01-08 00:00:00-05:00   49.895000   49.970001   49.314999
 ...                         ...         ...         ...         ...
 5028  2023-12-22 00:00:00-05:00  144.500000  145.630005  144.289993
 5029  2023-12-26 00:00:00-05:00  145.089996  146.169998  144.970001
 5030  2023-12-27 00:00:00-05:00  145.649994  146.309998  145.360001
 5031  2023-12-28 00:00:00-05:00  146.000000  146.009995  145.039993
 5032  2023-12-29 00:00:00-05:00  146.000000  146.960007  145.729996

            close   volume
 0      49.494999  5544600
 1      49.740002  6723600
 2      49.490002  5560800
 3      49.049999  7057000

### import the model:

In [5]:
import pickle

# Load the pickled model from file
with open('model_c.pkl', 'rb') as file:
    model_c = pickle.load(file)

with open('model_h.pkl', 'rb') as file:
    model_h = pickle.load(file)

with open('model_l.pkl', 'rb') as file:
    model_l = pickle.load(file)

2024-04-16 07:39:18.951094: I external/local_tsl/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.
2024-04-16 07:39:19.026924: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-04-16 07:39:19.027004: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-04-16 07:39:19.029804: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-04-16 07:39:19.043321: I external/local_tsl/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.
2024-04-16 07:39:20.763082: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

### prepare data for prediction:

In [9]:
import numpy as np

# Create input sequences and targets
def create_sequences(features, target, seq_length):
    X_seq = []
    y_seq = []
    for i in range(len(features) - seq_length):
        X_seq.append(features[i:i+seq_length])  # Input sequence
        y_seq.append(target[i+seq_length]) # Target value (next data point)
    return np.array(X_seq), np.array(y_seq)

In [10]:
best_features_c = ('close', 'ma_9', 'sma_9', 'macd', 'signal', 'hist', 'adx', 'atr', 'sar', 'tema', 'roc')
best_features_h = ('high', 'ma_9', 'sma_9', 'macd', 'signal', 'hist', 'adx', 'atr', 'sar', 'tema', 'roc')
best_features_l = ('low', 'ma_9', 'sma_9', 'macd', 'signal', 'hist', 'adx', 'atr', 'sar', 'tema', 'roc')

In [8]:
for symbol in data:
    from talib import RSI
    data[symbol]['rsi_14'] = RSI(data[symbol]['close'], timeperiod=14)
    data[symbol]['rsi_14'] = data[symbol]['rsi_14'].shift(1)
    
    from talib import MA, SMA, EMA, WMA
    data[symbol]['ma_9'] = MA(data[symbol]['close'], timeperiod=9)
    data[symbol]['ma_9'] = data[symbol]['ma_9'].shift(1)
    data[symbol]['sma_9'] = SMA(data[symbol]['close'], timeperiod=9)
    data[symbol]['sma_9'] = data[symbol]['sma_9'].shift(1)
    data[symbol]['wma_9'] = WMA(data[symbol]['close'], timeperiod=9)
    data[symbol]['wma_9'] = data[symbol]['wma_9'].shift(1)
    
    from talib import MACD
    data[symbol]['macd'], data[symbol]['signal'], data[symbol]['hist'] = MACD(data[symbol]['close'])
    data[symbol]['macd'] = data[symbol]['macd'].shift(1)
    data[symbol]['signal'] = data[symbol]['signal'].shift(1)
    data[symbol]['hist'] = data[symbol]['hist'].shift(1)
    
    from talib import ADX
    data[symbol]['adx'] = ADX(data[symbol]['high'], data[symbol]['low'], data[symbol]['close'])
    data[symbol]['adx'] = data[symbol]['adx'].shift(1)
    
    from talib import ATR
    data[symbol]['atr'] = ATR(high=data[symbol]['high'], low=data[symbol]['low'], close=data[symbol]['close'], timeperiod=14)
    data[symbol]['atr'] = data[symbol]['atr'].shift(1)
    
    from talib import SAR
    data[symbol]['sar'] = SAR(high=data[symbol]['high'], low=data[symbol]['low'], acceleration=0.02, maximum=0.2)
    data[symbol]['sar'] = data[symbol]['sar'].shift(1)
    
    from talib import TEMA
    data[symbol]['tema'] = TEMA(data[symbol]['close'], timeperiod=14)
    data[symbol]['tema'] = data[symbol]['tema'].shift(1)
    
    from talib import ROC
    data[symbol]['roc'] = ROC(data[symbol]['close'], timeperiod=14)
    data[symbol]['roc'] = data[symbol]['roc'].shift(1)
    
    data[symbol].dropna(axis=0, inplace=True)

In [ ]:
for symbol in data:
    data_backup_c_scaled = scaler_h.transform(data_backup[list(best_features_h)])
    target_backup_h_scaled = scaler_target_h.transform(data_backup[['high']])
    X_b_h, y_b_h = create_sequences(data_backup_h_scaled, target_backup_h_scaled, seq_length)
    X_b_h = X_b_h.reshape(X_b_h.shape[0], seq_length, num_features_h)
    
    data_backup_h_scaled = scaler_h.transform(data_backup[list(best_features_h)])
    target_backup_h_scaled = scaler_target_h.transform(data_backup[['high']])
    X_b_h, y_b_h = create_sequences(data_backup_h_scaled, target_backup_h_scaled, seq_length)
    X_b_h = X_b_h.reshape(X_b_h.shape[0], seq_length, num_features_h)
    
    data_backup_l_scaled = scaler_l.transform(data_backup[list(best_features_l)])
    target_backup_l_scaled = scaler_target_l.transform(data_backup[['low']])
    X_b_l, y_b_l = create_sequences(data_backup_l_scaled, target_backup_l_scaled, seq_length)
    X_b_l = X_b_l.reshape(X_b_l.shape[0], seq_length, num_features_l)

In [6]:
data

{'VRTX':                            date        open        high         low  \
 0     2004-01-02 00:00:00-05:00   10.350000   10.750000   10.230000
 1     2004-01-05 00:00:00-05:00   10.550000   10.680000   10.100000
 2     2004-01-06 00:00:00-05:00   10.090000   10.360000   10.040000
 3     2004-01-07 00:00:00-05:00   10.130000   10.430000    9.900000
 4     2004-01-08 00:00:00-05:00   10.400000   10.560000   10.290000
 ...                         ...         ...         ...         ...
 5028  2023-12-22 00:00:00-05:00  403.589996  406.910004  402.350006
 5029  2023-12-26 00:00:00-05:00  406.970001  408.519989  404.480011
 5030  2023-12-27 00:00:00-05:00  408.649994  409.000000  405.589996
 5031  2023-12-28 00:00:00-05:00  411.260010  412.570007  409.000000
 5032  2023-12-29 00:00:00-05:00  409.000000  409.619995  406.070007

            close  volume
 0      10.500000  544900
 1      10.120000  910300
 2      10.080000  618700
 3      10.400000  739200
 4      10.480000  388900
 ...          ...     ...
 5028  405.250000  804200
 5029  407.660004  531600
 5030  408.049988  594000
 5031  409.269989  735600
 5032  406.890015  727400

 [5033 rows x 6 columns],
 'MDLZ':                            date       open       high        low      close  \
 0     2004-01-02 00:00:00-05:00  32.200001  32.580002  32.009998  32.080002
 1     2004-01-05 00:00:00-05:00  32.279999  32.389999  31.830000  32.160000
 2     2004-01-06 00:00:00-05:00  32.110001  32.520000  32.099998  32.490002
 3     2004-01-07 00:00:00-05:00  32.490002  32.580002  32.119999  32.279999
 4     2004-01-08 00:00:00-05:00  32.230000  32.630001  32.209999  32.299999
 ...                         ...        ...        ...        ...        ...
 5028  2023-12-22 00:00:00-05:00  70.830002  71.570000  70.750000  71.209999
 5029  2023-12-26 00:00:00-05:00  71.199997  71.900002  71.000000  71.709999
 5030  2023-12-27 00:00:00-05:00  71.769997  72.260002  71.540001  72.209999
 5031  2023-12-28 00:00:00-05:00  71.779999  72.349998  71.690002  72.260002
 5032  2023-12-29 00:00:00-05:00  72.139999  72.650002  72.110001  72.430000

        volume
 0      841800
 1     1192300
 2     1690500
 3     1334200
 4     1746300
 ...       ...
 5028  4109000
 5029  4002900
 5030  4061500
 5031  4095300
 5032  4658600

 [5033 rows x 6 columns],
 'TMO':                            date        open        high         low  \
 0     2004-01-02 00:00:00-05:00   25.200001   25.230000   24.940001
 1     2004-01-05 00:00:00-05:00   25.100000   25.299999   25.000000
 2     2004-01-06 00:00:00-05:00   25.100000   25.389999   24.980000
 3     2004-01-07 00:00:00-05:00   25.299999   25.610001   25.200001
 4     2004-01-08 00:00:00-05:00   25.610001   26.129999   25.610001
 ...                         ...         ...         ...         ...
 5028  2023-12-22 00:00:00-05:00  528.090027  532.919983  526.900024
 5029  2023-12-26 00:00:00-05:00  526.880005  531.239990  525.780029
 5030  2023-12-27 00:00:00-05:00  530.809998  533.070007  529.289978
 5031  2023-12-28 00:00:00-05:00  533.000000  536.000000  531.500000
 5032  2023-12-29 00:00:00-05:00  531.210022  533.969971  529.520020

            close   volume
 0      25.030001   541500
 1      25.150000   529300
 2      25.370001   860400
 3      25.610001   507800
 4      26.129999   623700
 ...          ...      ...
 5028  529.049988  1081500
 5029  529.700012   639100
 5030  531.650024   806000
 5031  532.940002   763400
 5032  530.789978   804300

 [5033 rows x 6 columns],
 'UNH':                            date        open        high         low  \
 0     2004-01-02 00:00:00-05:00   29.525000   29.660000   29.209999
 1     2004-01-05 00:00:00-05:00   28.500000   29.375000   27.725000
 2     2004-01-06 00:00:00-05:00   28.125000   28.594999   28.080000
 3     2004-01-07 00:00:00-05:00   28.650000   28.665001   28.200001
 4     2004-01-08 00:00:00-05:00   28.655001   28.975000   28.655001
 ...                         ...         ...         ...         ...
 5028  2023-12-22 00:00:00-05:00  519.880005  523.010010  518.020020
 5029  2023-12-26 00:00:00-05:00  519.880005  521.479980  517.969971
 5030  2023-12-27 00:00:00-05:00  519.750000  523.159973  519.359985
 5031  2023-12-28 00:00:00-05:00  523.469971  527.869995  522.940002
 5032  2023-12-29 00:00:00-05:00  525.979980  528.239990  523.919983

            close    volume
 0      29.520000   6243600
 1      28.100000  16714000
 2      28.389999   8181800
 3      28.655001   5916400
 4      28.715000   5619200
 ...          ...       ...
 5028  520.309998   1759500
 5029  520.030029   1390800
 5030  522.789978   1851800
 5031  524.900024   2001000
 5032  526.469971   2080100

 [5033 rows x 6 columns],
 'TJX':                            date       open       high        low      close  \
 0     2004-01-02 00:00:00-05:00   5.495000   5.542500   5.382500   5.402500
 1     2004-01-05 00:00:00-05:00   5.405000   5.495000   5.400000   5.492500
 2     2004-01-06 00:00:00-05:00   5.437500   5.530000   5.437500   5.520000
 3     2004-01-07 00:00:00-05:00   5.500000   5.520000   5.372500   5.395000
 4     2004-01-08 00:00:00-05:00   5.562500   5.637500   5.500000   5.540000
 ...                         ...        ...        ...        ...        ...
 5028  2023-12-22 00:00:00-05:00  91.570000  91.970001  91.300003  91.849998
 5029  2023-12-26 00:00:00-05:00  91.919998  92.870003  91.830002  92.790001
 5030  2023-12-27 00:00:00-05:00  92.769997  93.150002  92.370003  92.769997
 5031  2023-12-28 00:00:00-05:00  92.980003  93.680000  92.690002  93.239998
 5032  2023-12-29 00:00:00-05:00  93.589996  94.290001  93.379997  93.809998

         volume
 0      6231200
 1     10609600
 2     11677600
 3     20651200
 4     17621200
 ...        ...
 5028   3463200
 5029   3275600
 5030   3525300
 5031   3249100
 5032   5342500

 [5033 rows x 6 columns],
 'AAPL':                            date        open        high         low  \
 0     2004-01-02 00:00:00-05:00    0.384821    0.388393    0.378214
 1     2004-01-05 00:00:00-05:00    0.382500    0.399821    0.382500
 2     2004-01-06 00:00:00-05:00    0.397321    0.400357    0.387679
 3     2004-01-07 00:00:00-05:00    0.394643    0.407679    0.391607
 4     2004-01-08 00:00:00-05:00    0.407857    0.423750    0.404464
 ...                         ...         ...         ...         ...
 5028  2023-12-22 00:00:00-05:00  195.179993  195.410004  192.970001
 5029  2023-12-26 00:00:00-05:00  193.610001  193.889999  192.830002
 5030  2023-12-27 00:00:00-05:00  192.490005  193.500000  191.089996
 5031  2023-12-28 00:00:00-05:00  194.139999  194.660004  193.169998
 5032  2023-12-29 00:00:00-05:00  193.899994  194.399994  191.729996

            close     volume
 0       0.380000  144642400
 1       0.395893  395018400
 2       0.394464  509348000
 3       0.403393  586874400
 4       0.417143  460303200
 ...          ...        ...
 5028  193.600006   37122800
 5029  193.050003   28919300
 5030  193.149994   48087700
 5031  193.580002   34049900
 5032  192.529999   42628800

 [5033 rows x 6 columns],
 'BKNG':                            date         open         high          low  \
 0     2004-01-02 00:00:00-05:00    18.049999    18.799999    18.049999
 1     2004-01-05 00:00:00-05:00    18.950001    19.629999    18.760000
 2     2004-01-06 00:00:00-05:00    19.010000    19.209999    18.700001
 3     2004-01-07 00:00:00-05:00    18.750000    18.889999    18.110001
 4     2004-01-08 00:00:00-05:00    18.799999    18.910000    18.450001
 ...                         ...          ...          ...          ...
 5028  2023-12-22 00:00:00-05:00  3520.000000  3564.459961  3520.000000
 5029  2023-12-26 00:00:00-05:00  3527.469971  3574.310059  3525.290039
 5030  2023-12-27 00:00:00-05:00  3580.620117  3580.620117  3529.199951
 5031  2023-12-28 00:00:00-05:00  3556.080078  3562.689941  3540.179932
 5032  2023-12-29 00:00:00-05:00  3557.179932  3574.909912  3530.229980

             close   volume
 0       18.780001  1273900
 1       19.629999   987300
 2       18.799999  1755600
 3       18.680000  1227800
 4       18.660000   854300
 ...           ...      ...
 5028  3535.699951   254900
 5029  3566.649902   197700
 5030  3534.639893   169000
 5031  3550.469971   139700
 5032  3547.219971   164500

 [5033 rows x 6 columns],
 'V':                            date        open        high         low  \
 0     2008-03-19 00:00:00-04:00   14.875000   17.250000   13.750000
 1     2008-03-20 00:00:00-04:00   14.600000   16.250000   14.375000
 2     2008-03-24 00:00:00-04:00   16.809999   16.924999   14.750000
 3     2008-03-25 00:00:00-04:00   15.145000   16.062500   14.955000
 4     2008-03-26 00:00:00-04:00   15.682500   16.120001   15.392500
 ...                         ...         ...         ...         ...
 3969  2023-12-22 00:00:00-05:00  260.000000  261.209991  258.220001
 3970  2023-12-26 00:00:00-05:00  258.529999  259.739990  258.529999
 3971  2023-12-27 00:00:00-05:00  259.250000  259.769989  258.309998
 3972  2023-12-28 00:00:00-05:00  258.540009  260.970001  258.540009
 3973  2023-12-29 00:00:00-05:00  260.570007  261.459991  259.670013

            close     volume
 0      14.125000  708486000
 1      16.087500  198985200
 2      14.932500  149566400
 3      15.812500   87092000
 4      15.990000   43111600
 ...          ...        ...
 3969  258.429993    5111500
 3970  259.160004    2085100
 3971  258.929993    4034700
 3972  260.399994    3020500
 3973  260.350006    4074600

 [3974 rows x 6 columns],
 'LOW':                            date        open        high         low  \
 0     2004-01-02 00:00:00-05:00   27.924999   28.125000   26.889999
 1     2004-01-05 00:00:00-05:00   26.950001   26.990000   26.700001
 2     2004-01-06 00:00:00-05:00   26.770000   27.719999   26.760000
 3     2004-01-07 00:00:00-05:00   27.525000   27.795000   27.080000
 4     2004-01-08 00:00:00-05:00   27.575001   27.655001   26.809999
 ...                         ...         ...         ...         ...
 5028  2023-12-22 00:00:00-05:00  224.039993  225.080002  221.990005
 5029  2023-12-26 00:00:00-05:00  222.899994  223.699997  222.630005
 5030  2023-12-27 00:00:00-05:00  222.520004  223.360001  221.720001
 5031  2023-12-28 00:00:00-05:00  223.410004  223.419998  221.970001
 5032  2023-12-29 00:00:00-05:00  222.940002  223.979996  220.940002

            close    volume
 0      26.950001   6534400
 1      26.885000   7070000
 2      27.650000   8403200
 3      27.650000   5742200
 4      26.930000  11276800
 ...          ...       ...
 5028  223.000000   2368800
 5029  222.820007   1656400
 5030  222.889999   1449300
 5031  222.899994   1543400
 5032  222.550003   2631400

 [5033 rows x 6 columns],
 'PM':                            date       open       high        low      close  \
 0     2008-03-17 00:00:00-04:00  50.000000  52.650002  49.240002  49.389999
 1     2008-03-18 00:00:00-04:00  49.849998  52.000000  47.750000  49.599998
 2     2008-03-19 00:00:00-04:00  49.599998  51.000000  46.900002  50.099998
 3     2008-03-20 00:00:00-04:00  50.200001  50.200001  48.869999  49.150002
 4     2008-03-24 00:00:00-04:00  49.810001  51.000000  49.810001  51.000000
 ...                         ...        ...        ...        ...        ...
 3971  2023-12-22 00:00:00-05:00  92.989998  93.800003  92.690002  92.940002
 3972  2023-12-26 00:00:00-05:00  92.750000  93.660004  92.599998  93.250000
 3973  2023-12-27 00:00:00-05:00  93.190002  93.940002  93.190002  93.779999
 3974  2023-12-28 00:00:00-05:00  93.550003  94.379997  93.449997  94.080002
 3975  2023-12-29 00:00:00-05:00  94.080002  94.320000  93.730003  94.080002

        volume
 0     1988000
 1     8067600
 2     3007700
 3     3007700
 4     1437000
 ...       ...
 3971  2578700
 3972  2608400
 3973  3717200
 3974  3425800
 3975  3709200

 [3976 rows x 6 columns],
 'CMCSA':                            date       open       high        low      close  \
 0     2004-01-02 00:00:00-05:00  10.970000  11.140000  10.880000  10.986667
 1     2004-01-05 00:00:00-05:00  11.033333  11.133333  10.900000  11.086667
 2     2004-01-06 00:00:00-05:00  10.913333  11.163333  10.900000  11.100000
 3     2004-01-07 00:00:00-05:00  11.066667  11.430000  11.006667  11.396667
 4     2004-01-08 00:00:00-05:00  11.376667  11.663333  11.300000  11.663333
 ...                         ...        ...        ...        ...        ...
 5028  2023-12-22 00:00:00-05:00  44.130001  44.619999  43.810001  44.000000
 5029  2023-12-26 00:00:00-05:00  44.000000  44.070000  43.500000  43.930000
 5030  2023-12-27 00:00:00-05:00  43.900002  44.169998  43.709999  43.990002
 5031  2023-12-28 00:00:00-05:00  43.970001  44.410000  43.889999  44.119999
 5032  2023-12-29 00:00:00-05:00  44.090000  44.139999  43.560001  43.849998

         volume
 0     17215800
 1     22867800
 2     20053500
 3     24715800
 4     23189400
 ...        ...
 5028  11893900
 5029   9624300
 5030   9253800
 5031   9023400
 5032  13694900

 [5033 rows x 6 columns],
 'HD':                            date        open        high         low  \
 0     2004-01-02 00:00:00-05:00   35.750000   35.939999   34.810001
 1     2004-01-05 00:00:00-05:00   35.070000   35.250000   34.810001
 2     2004-01-06 00:00:00-05:00   35.090000   35.549999   34.840000
 3     2004-01-07 00:00:00-05:00   35.439999   36.090000   35.360001
 4     2004-01-08 00:00:00-05:00   35.889999   35.980000   35.169998
 ...                         ...         ...         ...         ...
 5028  2023-12-22 00:00:00-05:00  349.040009  351.339996  346.690002
 5029  2023-12-26 00:00:00-05:00  348.429993  350.089996  348.160004
 5030  2023-12-27 00:00:00-05:00  349.910004  350.000000  347.179993
 5031  2023-12-28 00:00:00-05:00  348.500000  349.040009  345.799988
 5032  2023-12-29 00:00:00-05:00  345.829987  347.549988  343.019989

            close    volume
 0      35.020000   7177600
 1      35.029999  11405100
 2      35.410000   8845200
 3      35.900002   9236900
 4      35.599998  10918400
 ...          ...       ...
 5028  348.589996   2029900
 5029  349.309998   1585500
 5030  348.529999   2764300
 5031  347.359985   2859400
 5032  346.549988  10325700

 [5033 rows x 6 columns],
 'GOOG':                            date        open        high         low  \
 0     2004-08-19 00:00:00-04:00    2.490664    2.591785    2.390042
 1     2004-08-20 00:00:00-04:00    2.515820    2.716817    2.503118
 2     2004-08-23 00:00:00-04:00    2.758411    2.826406    2.716070
 3     2004-08-24 00:00:00-04:00    2.770615    2.779581    2.579581
 4     2004-08-25 00:00:00-04:00    2.614201    2.689918    2.587302
 ...                         ...         ...         ...         ...
 4870  2023-12-22 00:00:00-05:00  142.130005  143.250000  142.054993
 4871  2023-12-26 00:00:00-05:00  142.979996  143.945007  142.500000
 4872  2023-12-27 00:00:00-05:00  142.830002  143.320007  141.050995
 4873  2023-12-28 00:00:00-05:00  141.850006  142.270004  140.828003
 4874  2023-12-29 00:00:00-05:00  140.679993  141.434998  139.899994

            close     volume
 0       2.499133  897427216
 1       2.697639  458857488
 2       2.724787  366857939
 3       2.611960  306396159
 4       2.640104  184645512
 ...          ...        ...
 4870  142.720001   18494700
 4871  142.820007   11170100
 4872  141.440002   17288400
 4873  141.279999   12192500
 4874  140.929993   14872700

 [4875 rows x 6 columns],
 'AXP':                            date        open        high         low  \
 0     2004-01-02 00:00:00-05:00   42.390778   42.495815   41.778069
 1     2004-01-05 00:00:00-05:00   42.084423   42.303249   41.856846
 2     2004-01-06 00:00:00-05:00   41.970634   42.303249   41.953129
 3     2004-01-07 00:00:00-05:00   42.399532   42.399532   42.084423
 4     2004-01-08 00:00:00-05:00   42.434544   42.653370   41.839340
 ...                         ...         ...         ...         ...
 5028  2023-12-22 00:00:00-05:00  185.639999  186.369995  184.630005
 5029  2023-12-26 00:00:00-05:00  185.960007  186.179993  185.130005
 5030  2023-12-27 00:00:00-05:00  186.139999  187.130005  185.619995
 5031  2023-12-28 00:00:00-05:00  187.119995  188.070007  187.000000
 5032  2023-12-29 00:00:00-05:00  187.750000  188.300003  186.529999

            close   volume
 0      41.795574  3041586
 1      42.163200  4229407
 2      42.233227  4138924
 3      42.355766  4480635
 4      42.233227  6395407
 ...          ...      ...
 5028  185.570007  2781600
 5029  185.960007  1230000
 5030  187.059998  1825400
 5031  187.800003  1486100
 5032  187.339996  1913800

 [5033 rows x 6 columns],
 'NVDA':                            date        open        high         low  \
 0     2004-01-02 00:00:00-05:00    1.964167    1.990833    1.923333
 1     2004-01-05 00:00:00-05:00    1.952500    1.999167    1.935000
 2     2004-01-06 00:00:00-05:00    1.980000    2.094167    1.970833
 3     2004-01-07 00:00:00-05:00    2.043333    2.095000    2.029167
 4     2004-01-08 00:00:00-05:00    2.110833    2.120833    2.072500
 ...                         ...         ...         ...         ...
 5028  2023-12-22 00:00:00-05:00  491.950012  493.829987  484.670013
 5029  2023-12-26 00:00:00-05:00  489.679993  496.000000  489.600006
 5030  2023-12-27 00:00:00-05:00  495.109985  496.799988  490.850006
 5031  2023-12-28 00:00:00-05:00  496.429993  498.839996  494.119995
 5032  2023-12-29 00:00:00-05:00  498.130005  499.970001  487.510010

            close     volume
 0       1.923333   43641600
 1       1.985833   57529200
 2       2.066667  109334400
 3       2.085000   67303200
 4       2.092500   43375200
 ...          ...        ...
 5028  488.299988   25213900
 5029  492.790009   24420000
 5030  494.170013   23364800
 5031  495.220001   24658700
 5032  495.220001   38869000

 [5033 rows x 6 columns],
 'SBUX':                            date       open       high        low      close  \
 0     2004-01-02 00:00:00-05:00   8.362500   8.410000   8.225000   8.227500
 1     2004-01-05 00:00:00-05:00   8.262500   8.372500   8.232500   8.352500
 2     2004-01-06 00:00:00-05:00   8.605000   8.625000   8.412500   8.455000
 3     2004-01-07 00:00:00-05:00   8.415000   8.500000   8.345000   8.420000
 4     2004-01-08 00:00:00-05:00   8.257500   8.397500   8.250000   8.345000
 ...                         ...        ...        ...        ...        ...
 5028  2023-12-22 00:00:00-05:00  94.889999  95.830002  94.339996  95.279999
 5029  2023-12-26 00:00:00-05:00  95.339996  95.690002  94.959999  95.669998
 5030  2023-12-27 00:00:00-05:00  95.690002  95.779999  94.790001  95.290001
 5031  2023-12-28 00:00:00-05:00  95.500000  95.970001  95.110001  95.930000
 5032  2023-12-29 00:00:00-05:00  95.879997  96.349998  95.349998  96.010002

         volume
 0     13181200
 1     13903600
 2     19274000
 3      9690400
 4     13144000
 ...        ...
 5028   6360400
 5029   3709500
 5030   4959300
 5031   4518300
 5032   6134000

 [5033 rows x 6 columns],
 'PG':                            date        open        high         low  \
 0     2004-01-02 00:00:00-05:00   49.825001   50.000000   49.439999
 1     2004-01-05 00:00:00-05:00   49.494999   49.825001   49.404999
 2     2004-01-06 00:00:00-05:00   49.410000   49.570000   49.340000
 3     2004-01-07 00:00:00-05:00   49.250000   49.334999   48.889999
 4     2004-01-08 00:00:00-05:00   49.895000   49.970001   49.314999
 ...                         ...         ...         ...         ...
 5028  2023-12-22 00:00:00-05:00  144.500000  145.630005  144.289993
 5029  2023-12-26 00:00:00-05:00  145.089996  146.169998  144.970001
 5030  2023-12-27 00:00:00-05:00  145.649994  146.309998  145.360001
 5031  2023-12-28 00:00:00-05:00  146.000000  146.009995  145.039993
 5032  2023-12-29 00:00:00-05:00  146.000000  146.960007  145.729996

            close   volume
 0      49.494999  5544600
 1      49.740002  6723600
 2      49.490002  5560800
 3      49.049999  7057000