In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv('data_sample.csv', index_col='date')

In [2]:
data = data.iloc[:, [4,5]]

In [3]:
data

                       close    volume
date
2024-01-26 08:35:00  2211.44   531.244
2024-01-26 08:36:00  2210.08   558.663
2024-01-26 08:37:00  2209.59   772.760
2024-01-26 08:38:00  2210.01  1028.646
2024-01-26 08:39:00  2210.52   561.160
...                      ...       ...
2024-01-29 09:58:00  2272.03  1040.838
2024-01-29 09:59:00  2273.23  1361.078
2024-01-29 10:00:00  2271.99  1159.183
2024-01-29 10:01:00  2273.83  2023.753
2024-01-29 10:02:00  2275.81  5818.101

[4408 rows x 2 columns]

In [4]:
from talib import RSI

data['rsi'] = RSI(data['close'])

In [5]:
data.dropna(axis=0, inplace=True)

In [6]:
def coef(df, col1='rsi', col2='volume'):
    return abs(df[col1] - 50) * df['volume']

In [7]:
#data['coef'] = coef(data)

In [8]:
data

                       close    volume        rsi
date
2024-01-26 08:49:00  2207.43   458.806  30.089374
2024-01-26 08:50:00  2209.03   923.541  40.303959
2024-01-26 08:51:00  2209.27   777.850  41.680433
2024-01-26 08:52:00  2208.23   326.639  37.631163
2024-01-26 08:53:00  2208.10   280.425  37.145378
...                      ...       ...        ...
2024-01-29 09:58:00  2272.03  1040.838  63.214638
2024-01-29 09:59:00  2273.23  1361.078  66.968045
2024-01-29 10:00:00  2271.99  1159.183  60.139397
2024-01-29 10:01:00  2273.83  2023.753  65.724506
2024-01-29 10:02:00  2275.81  5818.101  70.512540

[4394 rows x 3 columns]

In [9]:
data['shift'] = data['rsi'].shift(1)

In [10]:
data

                       close    volume        rsi      shift
date
2024-01-26 08:49:00  2207.43   458.806  30.089374        NaN
2024-01-26 08:50:00  2209.03   923.541  40.303959  30.089374
2024-01-26 08:51:00  2209.27   777.850  41.680433  40.303959
2024-01-26 08:52:00  2208.23   326.639  37.631163  41.680433
2024-01-26 08:53:00  2208.10   280.425  37.145378  37.631163
...                      ...       ...        ...        ...
2024-01-29 09:58:00  2272.03  1040.838  63.214638  62.149649
2024-01-29 09:59:00  2273.23  1361.078  66.968045  63.214638
2024-01-29 10:00:00  2271.99  1159.183  60.139397  66.968045
2024-01-29 10:01:00  2273.83  2023.753  65.724506  60.139397
2024-01-29 10:02:00  2275.81  5818.101  70.512540  65.724506

[4394 rows x 4 columns]

In [11]:
#data['direction'] = np.where((data['shift'] > data['rsi']) & (data['rsi'] > 50) | (data['shift'] < data['rsi']) & (data['rsi'] < 50), 1, 0)
data['direction'] = np.where((data['shift'] < data['rsi']) & (data['rsi'] > 65), 1, 0)

In [12]:
data['time_dummy'] = np.arange(1,len(data.index)+1)

In [13]:
data

,close,volume,rsi,shift,direction,time_dummy
date,,,,,,
2024-01-26 08:49:00,2207.43,458.806,30.089374,NaN,0,1
2024-01-26 08:50:00,2209.03,923.541,40.303959,30.089374,0,2
2024-01-26 08:51:00,2209.27,777.850,41.680433,40.303959,0,3
2024-01-26 08:52:00,2208.23,326.639,37.631163,41.680433,0,4
2024-01-26 08:53:00,2208.10,280.425,37.145378,37.631163,0,5
...,...,...,...,...,...,...
2024-01-29 09:58:00,2272.03,1040.838,63.214638,62.149649,0,4390
2024-01-29 09:59:00,2273.23,1361.078,66.968045,63.214638,1,4391
2024-01-29 10:00:00,2271.99,1159.183,60.139397,66.968045,0,4392
2024-01-29 10:01:00,2273.83,2023.753,65.724506,60.139397,1,4393
2024-01-29 10:02:00,2275.81,5818.101,70.512540,65.724506,1,4394

In [14]:
data.set_index('time_dummy', inplace=True)

In [15]:
data.dropna(axis=0, inplace=True)

In [16]:
data

              close    volume        rsi      shift  direction
time_dummy
2           2209.03   923.541  40.303959  30.089374          0
3           2209.27   777.850  41.680433  40.303959          0
4           2208.23   326.639  37.631163  41.680433          0
5           2208.10   280.425  37.145378  37.631163          0
6           2208.76   524.404  41.289187  37.145378          0
...             ...       ...        ...        ...        ...
4390        2272.03  1040.838  63.214638  62.149649          0
4391        2273.23  1361.078  66.968045  63.214638          1
4392        2271.99  1159.183  60.139397  66.968045          0
4393        2273.83  2023.753  65.724506  60.139397          1
4394        2275.81  5818.101  70.512540  65.724506          1

[4393 rows x 5 columns]

In [17]:
#data.drop(['volume','rsi','shift'], axis=1, inplace=True)
data.drop('shift', axis=1, inplace=True)

In [18]:
data

              close    volume        rsi  direction
time_dummy
2           2209.03   923.541  40.303959          0
3           2209.27   777.850  41.680433          0
4           2208.23   326.639  37.631163          0
5           2208.10   280.425  37.145378          0
6           2208.76   524.404  41.289187          0
...             ...       ...        ...        ...
4390        2272.03  1040.838  63.214638          0
4391        2273.23  1361.078  66.968045          1
4392        2271.99  1159.183  60.139397          0
4393        2273.83  2023.753  65.724506          1
4394        2275.81  5818.101  70.512540          1

[4393 rows x 4 columns]

In [19]:
X_train = data.iloc[:4000, [0,1,2]]
y_train = data.iloc[:4000, 3]

In [20]:
X_test = data.iloc[4000:, [0,1,2]]
y_test = data.iloc[4000:, 3]

In [21]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(X_train)

MinMaxScaler()

In [22]:
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [23]:
X_train_scaled

array([[0.03560189, 0.02740633, 0.35849957],
       [0.03796223, 0.02295749, 0.3772293 ],
       [0.02773407, 0.00917925, 0.32213072],
       ...,
       [0.69413847, 0.01374495, 0.68244137],
       [0.6952203 , 0.0238805 , 0.68744531],
       [0.69826908, 0.03791421, 0.70202312]])

In [24]:
data

              close    volume        rsi  direction
time_dummy
2           2209.03   923.541  40.303959          0
3           2209.27   777.850  41.680433          0
4           2208.23   326.639  37.631163          0
5           2208.10   280.425  37.145378          0
6           2208.76   524.404  41.289187          0
...             ...       ...        ...        ...
4390        2272.03  1040.838  63.214638          0
4391        2273.23  1361.078  66.968045          1
4392        2271.99  1159.183  60.139397          0
4393        2273.83  2023.753  65.724506          1
4394        2275.81  5818.101  70.512540          1

[4393 rows x 4 columns]

In [25]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

model = LogisticRegression()
model.fit(X_train_scaled, y_train)

LogisticRegression()

In [26]:
predictions = model.predict(X_test_scaled)

In [27]:
predictions

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1])

In [28]:
accuracy_score(y_test, predictions)

0.9541984732824428

In [29]:
res = pd.DataFrame(X_test)
res['pred'] = predictions

In [43]:
res

              close    volume        rsi  pred
time_dummy
4002        2277.28  1168.785  68.427926     0
4003        2275.91   987.228  59.936649     0
4004        2273.75  1367.718  49.505921     0
4005        2274.91   984.183  54.123375     0
4006        2273.92   940.134  49.927132     0
...             ...       ...        ...   ...
4390        2272.03  1040.838  63.214638     0
4391        2273.23  1361.078  66.968045     0
4392        2271.99  1159.183  60.139397     0
4393        2273.83  2023.753  65.724506     0
4394        2275.81  5818.101  70.512540     1

[393 rows x 4 columns]

In [31]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

model2 = RandomForestClassifier(n_estimators=100, random_state=42)
model2.fit(X_train_scaled, y_train)

RandomForestClassifier(random_state=42)

In [32]:
predictions2 = model2.predict(X_test_scaled)

In [33]:
accuracy_score(y_test, predictions2)

0.989821882951654